In [1]:
%matplotlib inline
import os
import numpy as np
import pandas as pd
import torch
from torch import nn
from d2l import torch as d2l
import matplotlib.pyplot as plt

In [2]:
cache_dir = os.path.join('..', 'data')
train_data = pd.read_csv(os.path.join(cache_dir, 'train.csv'))
test_data = pd.read_csv(os.path.join(cache_dir, 'test.csv'))

In [3]:
train_data.head()

,Id,Address,Sold Price,Summary,Type,Year built,Heating,Cooling,Parking,Lot,...,Parking features,Tax assessed value,Annual tax amount,Listed On,Listed Price,Last Sold On,Last Sold Price,City,Zip,State
0,0,540 Pine Ln,3825000.0,"540 Pine Ln, Los Altos, CA 94022 is a single f...",SingleFamily,1969.0,"Heating - 2+ Zones, Central Forced Air - Gas","Multi-Zone, Central AC, Whole House / Attic Fan","Garage, Garage - Attached, Covered",1.0,...,"Garage, Garage - Attached, Covered",886486.0,12580.0,2019-10-24,4198000.0,NaN,NaN,Los Altos,94022,CA
1,1,1727 W 67th St,505000.0,"HURRY, HURRY.......Great house 3 bed and 2 bat...",SingleFamily,1926.0,Combination,"Wall/Window Unit(s), Evaporative Cooling, See ...","Detached Carport, Garage",4047.0,...,"Detached Carport, Garage",505000.0,6253.0,2019-10-16,525000.0,2019-08-30,328000.0,Los Angeles,90047,CA
2,2,28093 Pine Ave,140000.0,'THE PERFECT CABIN TO FLIP! Strawberry deligh...,SingleFamily,1958.0,Forced air,NaN,0 spaces,9147.0,...,NaN,49627.0,468.0,2019-08-25,180000.0,NaN,NaN,Strawberry,95375,CA
3,3,10750 Braddock Dr,1775000.0,Rare 2-story Gated 5 bedroom Modern Mediterran...,SingleFamily,1947.0,Central,Central Air,"Detached Carport, Driveway, Garage - Two Door",NaN,...,"Detached Carport, Driveway, Garage - Two Door",1775000.0,20787.0,2019-10-24,1895000.0,2016-08-30,1500000.0,Culver City,90230,CA
4,4,7415 O Donovan Rd,1175000.0,Beautiful 200 acre ranch land with several pas...,VacantLand,NaN,NaN,NaN,0 spaces,NaN,...,NaN,NaN,NaN,2019-06-07,1595000.0,2016-06-27,900000.0,Creston,93432,CA

In [4]:
train_nan = pd.DataFrame(train_data.isnull().sum(), columns=['nan_sum'])
train_nan['percentage %'] = train_nan['nan_sum'] / train_data.shape[0] * 100
train_nan

                             nan_sum  percentage %
Id                                 0      0.000000
Address                            0      0.000000
Sold Price                         0      0.000000
Summary                          350      0.737790
Type                               0      0.000000
Year built                      1045      2.202829
Heating                         6465     13.628028
Cooling                        10622     22.390860
Parking                          908      1.914037
Lot                            14181     29.893126
Bedrooms                        2872      6.054091
Bathrooms                       3465      7.304117
Full bathrooms                  7865     16.579186
Total interior livable area     2526      5.324733
Total spaces                     916      1.930901
Garage spaces                    917      1.933009
Region                             2      0.004216
Elementary School               4742      9.995995
Elementary School Score         4896     10.320622
Elementary School Distance      4742      9.995995
Middle School                  16704     35.211535
Middle School Score            16705     35.213643
Middle School Distance         16704     35.211535
High School                     5000     10.539851
High School Score               5219     11.001497
High School Distance            5001     10.541959
Flooring                       11564     24.376568
Heating features                7165     15.103607
Cooling features               11782     24.836105
Appliances included            13442     28.335336
Laundry features               14124     29.772972
Parking features                4308      9.081136
Tax assessed value              3652      7.698307
Annual tax amount               4310      9.085352
Listed On                          0      0.000000
Listed Price                       0      0.000000
Last Sold On                   17766     37.450199
Last Sold Price                17766     37.450199
City                               0      0.000000
Zip                                0      0.000000
State                              0      0.000000

In [5]:
train_data['Sold Price'].fillna(train_data['Listed Price'], inplace=True)
train_data['Listed Price'].fillna(train_data['Sold Price'], inplace=True)

In [6]:
all_features = pd.concat((train_data.iloc[:, train_data.columns != 'Sold Price'],
                         test_data))

In [7]:
all_features['City Id'] = pd.factorize(all_features['City'])[0]

In [8]:
all_features['Score_sum'] = all_features['Elementary School Score'] + all_features['Middle School Score'] + all_features['High School Score']

In [9]:
drop_features = (['Id', 'Zip', 
                  'Elementary School Score', 'Middle School Score', 
                  'High School Score', 'City'])
all_features.drop(drop_features, 1, inplace=True)

/home/liwei/anaconda3/envs/yolo/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  after removing the cwd from sys.path.

In [10]:
numeric_features = all_features.dtypes[all_features.dtypes != 'object'].index
all_features[numeric_features] = all_features[numeric_features].apply(lambda x: (x-x.mean()) / (x.std()))
all_features[numeric_features] = all_features[numeric_features].fillna(0)
all_features = all_features[numeric_features]
all_features.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 79065 entries, 0 to 31625
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year built                   79065 non-null  float64
 1   Lot                          79065 non-null  float64
 2   Bathrooms                    79065 non-null  float64
 3   Full bathrooms               79065 non-null  float64
 4   Total interior livable area  79065 non-null  float64
 5   Total spaces                 79065 non-null  float64
 6   Garage spaces                79065 non-null  float64
 7   Elementary School Distance   79065 non-null  float64
 8   Middle School Distance       79065 non-null  float64
 9   High School Distance         79065 non-null  float64
 10  Tax assessed value           79065 non-null  float64
 11  Annual tax amount            79065 non-null  float64
 12  Listed Price                 79065 non-null  float64
 13  Last Sold Price              79065 non-null  float64
 14  City Id                      79065 non-null  float64
 15  Score_sum                    79065 non-null  float64
dtypes: float64(16)
memory usage: 10.3 MB

In [11]:
n_train = train_data.shape[0]
train_features = torch.tensor(all_features[:n_train].values, 
                              dtype=torch.float32)
test_features = torch.tensor(all_features[n_train:].values, 
                             dtype=torch.float32)
train_labels = torch.tensor(train_data['Sold Price'].values.reshape(-1, 1), 
                            dtype=torch.float32)

In [12]:
loss = nn.MSELoss()
in_features = train_features.shape[1]

In [13]:
def get_net():
    net = nn.Sequential(nn.Linear(in_features, 32), 
                        nn.ReLU(),
                        nn.Dropout(0.1),
                        nn.Linear(32, 16),
                        nn.ReLU(),
                        nn.Dropout(0.1),
                        nn.Linear(16, 8),
                        nn.ReLU(),
                        nn.Dropout(0.1),
                        nn.Linear(8, 1),
                        )
    net.apply(init_weights)
    return net



def init_weights(m):
    if type(m) == nn.Linear:
        nn.init.normal_(m.weight, std=0.01)

In [14]:
def log_rmse(net, features, labels):
    # 为了在取对数时进一步稳定该值，将小于1的值设置为1
    clipped_preds = torch.clamp(net(features), 1, float('inf'))
    rmse = torch.sqrt(loss(torch.log(clipped_preds),
                           torch.log(labels)))
    return rmse.item()

In [15]:
def train(net, train_features, train_labels, test_features, test_labels,
          num_epochs, learning_rate, weight_decay, batch_size):
    train_ls, test_ls = [], []
    train_iter = d2l.load_array((train_features, train_labels), batch_size)
    # 这里使用的是Adam优化算法
    optimizer = torch.optim.Adam(net.parameters(),
                                 lr = learning_rate,
                                 weight_decay = weight_decay)
    for epoch in range(num_epochs):
        for X, y in train_iter:
            optimizer.zero_grad()
            l = loss(net(X), y)
            l.backward()
            optimizer.step()
        train_ls.append(log_rmse(net, train_features, train_labels))
        if test_labels is not None:
            test_ls.append(log_rmse(net, test_features, test_labels))
    return train_ls, test_ls

In [16]:
def get_k_fold_data(k, i, X, y):
    assert k > 1
    fold_size = X.shape[0] // k 
    X_train, y_train = None, None
    for j in range(k):
        idx = slice(j*fold_size, (j+1)*fold_size)
        X_part, y_part = X[idx, :], y[idx]
        if i == j:
            X_valid, y_valid = X_part, y_part
        elif X_train is None:
            X_train, y_train = X_part, y_part
        else:
            X_train = torch.cat([X_train, X_part], 0)
            y_train = torch.cat([y_train, y_part], 0)
    return X_train, y_train, X_valid, y_valid

In [17]:
def k_fold(k, X_train, y_train, num_epochs, learning_rate, weight_decay,
           batch_size):
    train_l_sum, valid_l_sum = 0, 0
    for i in range(k):
        data = get_k_fold_data(k, i, X_train, y_train)
        net = get_net()
        train_ls, valid_ls = train(net, *data, num_epochs, learning_rate,
                                   weight_decay, batch_size)
        train_l_sum += train_ls[-1]
        valid_l_sum += valid_ls[-1]
        if i == 0:
            d2l.plot(list(range(1, num_epochs + 1)), [train_ls, valid_ls],
                     xlabel='epoch', ylabel='rmse', xlim=[1, num_epochs],
                     legend=['train', 'valid'], yscale='log')
        print(f'fold {i + 1}, train log rmse {float(train_ls[-1]):f}, '
              f'valid log rmse {float(valid_ls[-1]):f}')
    return train_l_sum / k, valid_l_sum / k

In [ ]:
k, num_epochs, lr, weight_decay, batch_size = 5, 100, 0.01, 0.1, 128
train_l, valid_l = k_fold(k, train_features, train_labels, num_epochs, lr,
                          weight_decay, batch_size)
print(f'{k}-折验证: 平均训练log rmse: {float(train_l):f}, '
      f'平均验证log rmse: {float(valid_l):f}')

fold 1, train log rmse 0.500230, valid log rmse 0.516949
fold 2, train log rmse 0.503908, valid log rmse 0.504890
fold 3, train log rmse 0.515457, valid log rmse 0.502560

In [ ]:
def train_and_pred(train_features, test_feature, train_labels, test_data,
                   num_epochs, lr, weight_decay, batch_size):
    net = get_net()
    train_ls, _ = train(net, train_features, train_labels, None, None,
                        num_epochs, lr, batch_size, weight_decay)
    d2l.plot(np.arange(1, num_epochs + 1), [train_ls], xlabel='epoch',
             ylabel='log rmse', xlim=[1, num_epochs], yscale='log')
    print(f'train log rmse {float(train_ls[-1]):f}')
    # 将网络应用于测试集。
    preds = net(test_features).detach().numpy()
    # 将其重新格式化以导出到Kaggle
    test_data['Sold Price'] = pd.Series(preds.reshape(1, -1)[0])
    submission = pd.concat([test_data['Id'], test_data['Sold Price']], axis=1)
    submission.to_csv('submission.csv', index=False)
    return submission

In [ ]:
submission = train_and_pred(train_features, test_features, train_labels, test_data,
               num_epochs, lr, weight_decay, batch_size)

In [ ]:
print(submission.head())